###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/build/

/public/media/*
/public/uploads/*
/var/cache/*
/var/log/*
!.gitkeep
/vendor/
###< symfony/framework-bundle ###

.berlin
.local
.rsyncignore
/makefile
node_modules/
README.local

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
