{% extends 'base.html.twig' %}

{% block title %}File manager{% endblock %}

{% block body %}
<h1>welcome</h1>
<img src="{{ '/uploads/user/die.png' | imagine_filter('small') }}" />
<img src="{{ '/bank/hugues-violon-1.jpg' | imagine_filter('small') }}" />
{% endblock %}