{% extends 'base.html.twig' %}

{% block title %}ckeditor{% endblock %}

{% block body %}
    <div id="ckeditor">
        <p>Here goes the initial content of the editor.</p>
    </div>

{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {{ vite_entry_link_tags('ckeditor') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    {{ vite_entry_script_tags('ckeditor') }}
{% endblock %}

