
<div class="storybook-grid-container">
    <footer id="footer">
        <div>
            © Ogoxe - 2022 - Tous droits réservés
        </div>
        <div>
            <span id="map-credits"></span>
            <a href="#" id="policy">Politique de confidentialité</a> | <a href="#" id="cgu">CGU</a>
        </div>
    </footer>
    
    <footer id="footer">
        <div>
            © Ogoxe - 2022 - Tous droits réservés
        </div>
        <div>
            <span id="map-credits"><span class="leaflet-control-attribution leaflet-control">Tiles © Esri<span class="details">— Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community</span></span></span>
            <a href="#" id="policy">Politique de confidentialité</a> | <a href="#" id="cgu">CGU</a>
        </div>
    </footer>
</div>

