<div class="storybook-grid-cols">
    <div class="key-values">
        <div class="row">
            <span>Paramètre</span>
            <span>Pluviomètre</span>
        </div>
        <div class="row">
            <span>Seuil</span>
            <span><i class="fe-greater-than-equal"></i> 435 mm/h</span>
            <a class="ogoxe-icon on-hover red-color">
                <i class="fe-cancel"></i>
            </a>
        </div>
        <div class="row">
            <span>Station</span>
            <span>Ferrere - Pluvio</span>
        </div>
        <div class="row">
            <span>Type</span>
            <span>Meteorologique</span>
        </div>
        <div class="row">
            <span>Source</span>
            <span>Ogoxe</span>
        </div>

    </div>

    <div class="key-values with-box">
        <div class="row">
            <span>Type</span>
            <span>basic</span>
        </div>
        <div class="row">
            <span>Shared</span>
            <span>Yes</span>
            <a class="ogoxe-icon on-hover red-color">
                <i class="fe-cancel"></i>
            </a>
        </div>
    </div>
    
</div>
