.with-pulse{
  position: relative;
}
.with-pulse::before{
  content: '';
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform-origin: center center;
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: transform, opacity;

  // vérifier
  overflow:hidden;
}
.with-pulse.pulse::before {
  transform: translate(-50%, -50%) scale(0) ;
  opacity: 1;
  transition-duration: 0s;
}

