<div class="storybook-sidebar">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="header multiline">
                <div class="marker"><i class="fe-station-met"></i></div>
                <div class="text">
                    <h3>Ferrere - Pluvio</h3>
                    <div class="key-values">
                        <div class="row">
                            <span>Type</span>
                            <span>Meteorologique</span>
                        </div>
                        <div class="row">
                            <span>Source</span>
                            <span>Ogoxe</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header">
                <i class="fe-layers"></i>
                <div class="text">
                    <h3>Couches</h3>
                </div>
            </div>

            <div class="header multiline">
                <div class="marker alert-3"><i class="fe-station-met"></i></div>
                <div class="text">
                    <h3>Alerte 7 débordement de la Garonne</h3>
                    <div class="key-values">
                        <div class="row">
                            <span>Type</span>
                            <span>Notification station</span>
                        </div>
                        <div class="row">
                            <span>État</span>
                            <span>Alerte niveau 3</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions">
                <a href="#" class="ogoxe-icon"><i class="fe-edit"></i></a>
            </div>

            <div class="key-values">
                <div class="row">
                    <span>Paramètre</span>
                    <span>Pluviomètre</span>
                </div>
                <div class="row">
                    <span>Seuil</span>
                    <span><i class="fe-greater-than-equal"></i> 435 mm/h</span>
                    <a class="ogoxe-icon on-hover red-color">
                        <i class="fe-cancel"></i>
                    </a>
                </div>
                <div class="row">
                    <span>Station</span>
                    <span>Ferrere - Pluvio</span>
                </div>
                <div class="row">
                    <span>Type</span>
                    <span>Meteorologique</span>
                </div>
                <div class="row">
                    <span>Source</span>
                    <span>Ogoxe</span>
                </div>
            </div>
            <div>
                <div class="record-box">
                    <h4>Pluviometre</h4>
                    <p>Dernier relevé : 30 Juin, 7h10</p>
                    <p>Valeur : 0 mm/h</p>
                    <p>Évolution : 0 mm/h (20 min.)
                    </p>
                    <div class="details-transition">
                        <div class="key-values with-box">
                            <div class="row"><span>29 Juin, 7h40</span><span>0 mm/h</span></div>
                            <div class="row"><span>29 Juin, 8h20</span><span>0 mm/h</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>