<div class="storybook-grid-cols">
    <aside id="navigation-container" class="sidebar-container" data-sidebar-name="navigation">
        <div class="resizer right"></div>
        <div class="collapse-button right ogoxe-button">
            <i class="fe-collapse"></i>
        </div>
        <div class="sidebar" data-simplebar data-simplebar-direction="rtl">
            <div class="sidebar-content">
                <h2>Sidebar</h2>
            </div>
        </div>
    </aside>
    <div id="main-content" class="main-content">
        <div class="main-content-inner">
            <h1>Main content</h1>
        </div>
    </div>

</div>
    