<div class="storybook-colored-container">
    <div class="ogoxe-tabs">
        <div class="ogoxe-tabs-labels">
            <div class="tab-label active"><span>Time-lapse</span></div>
            <div class="tab-label">Photo de station</div>
        </div>
        <div class="ogoxe-tabs-contents">
            <div class="tab-content active">
                <h1>Time-lapse</h1>
            </div>
            <div class="tab-content">
                <div>
                    <h1>Photo de station</h1>
                </div>
            </div>
        </div>
    </div>
</div>
