<div class="storybook-grid-container">
    <div>
        <span class="ogoxe-tag info">Alerte
            <i class="fe-cancel"></i>
        </span>
    </div>
    <div>
        <span class="ogoxe-tag primary-color">Urgent
        </span>
    </div>
    <div>
        <span class="ogoxe-tag alert-1">alert-1
        </span>
    </div>
    <div>
        <span class="ogoxe-tag alert-2">alert-2
        </span>
    </div>
    <div>
        <span class="ogoxe-tag alert-3">alert-3
        </span>
    </div>
    <div>
        <span class="ogoxe-tag no-alert">success
        </span>
    </div>
</div>
